html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;

}
body{
    background-color: #ebebeb;
  }
  

@font-face {
    font-family: 'SegoeUI-Light';
    src:  url('fonts/SegoeUI/SegoeUI-Light.eot');
    src:  url('fonts/SegoeUI/SegoeUI-Light.ttf') format('truetype'),
      url('fonts/SegoeUI/SegoeUI-Light.woff') format('woff');
  }

  @font-face {
    font-family: 'SegoeUI';
    src:  url('fonts/SegoeUI/SegoeUI-Regular.eot');
    src:  url('fonts/SegoeUI/SegoeUI-Regular.ttf') format('truetype'),
      url('fonts/SegoeUI/SegoeUI-Regular.woff') format('woff');
  }
  @font-face {
    font-family: 'SegoeUI-SemiBold';
    src:  url('fonts/SegoeUI/SegoeUI-SemiBold.eot');
    src:  url('fonts/SegoeUI/SegoeUI-SemiBold.ttf') format('truetype'),
      url('fonts/SegoeUI/SegoeUI-SemiBold.woff') format('woff');
  }

  

  .all-items {
    background-color: white;
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
    font-family: SegoeUI, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    justify-content: space-around;
   
  }
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;

  }
  .header a {
    color: black;
    text-decoration: none;
  }
  .logo {
    width: 300px;
    height: auto;
  }
  .number {
    font-size: 30px;
    line-height: 1;
  }
  .icon-phone {
    position: relative;
    top: 5px;
    height: 30px;
    width: auto;
    margin-right: 10px;
  }
  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #df644e;
    padding: 15px 30px;
  }
  .user-menu {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  }
   .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.search img {
    margin-right: 20px;
}
  .menu img {
    width: auto;
    height: 30px;
    
  }
  .input-search {
    width: 200px;
    height: 30px;
    border-radius: 25px;
    border: none;
    padding: 0 15px ;
  }
  .input-searc::selection{
    outline: none;
  }
  .input-searc:focus-visible {
    outline: none;
  }
  .input-searc:focus {
    outline: none;
  }
  .user-menu img {
    width: auto;
    height: 30px;
    margin-left: 20px;
  }
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }  
  .card {
    outline: 1px solid #d5d5d5;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3);
    gap: 20px;
  }
  .card-heart {
    margin-top: 30px;
    margin-right: 60px;
    text-align: right;
    width: 100%;
  }
  .card-heart img {
    height: 30px;
    width: auto;

  }
  .card-img {
    height: 290px;
    width: 80%;
    margin: 0 auto;
  }
  .card-title {
    font-family: SegoeUI-Light, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;

  }
  .card-price {
    font-family: SegoeUI-SemiBold, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
  }
  .card-buy a {
    display: inline-block;
    text-decoration: none;
    color: #51a548;
    font-size: 20px;
    border: 2px solid #51a548 ;
    border-radius: 25px;
    width: 160px;
    text-align: center;
    line-height: 1;
    padding-top: 10px;
    padding-bottom: 15px;
    font-family: SegoeUI-SemiBold, Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 30px;
    }
    .card-buy a:hover {
      color: #ffffff;
      background-color: #51a548;
    }
  .teona {
    text-align: center;
  }
  footer {
    background-color: #df644e;
  }
  .bottom-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
  }
  .bottom-logo img {
    width: auto;
    height: 40px;

  }
  .location-white {
    width: auto;
    height: 30px;
  }
  .visit-card img {
    width: auto;
    height: 30px;
  }
  .info div {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 425px;
    /* max-width: 425px; */
  }
  .info div img {
    margin: 5px;
  }
  .info div span {
    font-family: SegoeUI-Light, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: white;
  }
  a {
    text-decoration: none;
  }
  .slider {
    position: relative;
    width: 90%;
    max-width: 500px;
    margin: 50px auto;
    overflow: hidden;
    border-radius: 10px;
    /* box-shadow: 0 4px 10px rgba(0,0,0,0.2); */
    
    
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slide {
    min-width: 100%;
}
.slide img {
    width: 100%;
    height: auto;
    display: block;
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.prev { left: 10px; }
.next { right: 10px; }
.flex-div {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  align-items: center;
  width: auto;
}
.infoo {
  max-width: 450px;

}
.infoo a {
  font-size: 12px;
  font-family:  SegoeUI-SemiBold, Tahoma, Geneva, Verdana, sans-serif;
}
.first-word {
  font-family: SegoeUI-SemiBold, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
}
.rest-text {
  font-family: SegoeUI, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;

}
main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  align-items: flex-start;

}
.flex-column {
  display: flex;
  flex-direction: column;
  width: calc(100% / 2);
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 100px;
  margin-top: 20px;

}
.flex img {
  width: auto;
  height: 30px;
  margin-right: 50px;

}
.flex p {
  font-size: 50px;
  font-family: SegoeUI-Light, Tahoma, Geneva, Verdana, sans-serif;
  width: auto;
}
.volume {
  font-family: SegoeUI-SemiBold, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}
select {
  font-family: SegoeUI-SemiBold, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-top: 10px;
  margin-right: 50px;
  height: 60px;
  padding: 0 20px;
  appearance: none; /* Убираем стандартную стрелку */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('img/menu-black.svg'); /* Путь к вашей стрелке */
   background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 25px;
  border: solid 2px #c4c0c0;
}
.description {
  height: auto;
  width: auto;
  text-align: center;
  padding-top: 50px;
  font-size: 30px;
  margin-right: 50px;
  margin-bottom: 20px;
  font-family: SegoeUI-SemiBold, Tahoma, Geneva, Verdana, sans-serif;
}
.description_info {
  margin-top: 20px;
  font-size: 25px;
  font-family: SegoeUI-Light, Tahoma, Geneva, Verdana, sans-serif;
  width: auto;
  margin-right: 50px;
  padding-left: 20px;
}
.buy-card_and {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: auto;
  align-items: center;
  /* margin-right: 50px; */
  margin-top: 100px;
  height: auto;
  gap: 10px;
}
.cirkle_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
  width: auto;

}
.cirkle {
  position: relative;
  border-radius: 50%;
  border: solid 2px #c4c0c0;
  width: 48px;
  height: 48px;
  text-align: center;
  
}
.square {
  position: relative;
  border: 2px solid #c4c0c0;
  width: 40px;
  height: 40px;
}
.card-buy_and a {
  display: inline-block;
  text-decoration: none;
  color: #ff0000;
  font-size: 20px;
  border: 2px solid #ff0000 ;
  border-radius: 25px;
  width: 160px;
  text-align: center;
  line-height: 1;
  padding-top: 10px;
  padding-bottom: 15px;
  font-family: SegoeUI-SemiBold, Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 30px;
  height: auto;
  position: relative;
  top: 16px;
  }
  .card-buy_and a:hover {
    color: #ffffff;
    background-color: #51a548;
    border: 2px solid #51a548;
  }
  .total {
    font-size: 20px;
    font-family: SegoeUI-SemiBold, Tahoma, Geneva, Verdana, sans-serif;
  }
  .cirkle_flex span {
    display: inline-block;
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
  }
  .display-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    gap: 50px;
    height: auto;
  }
  .display-flex .visaaa {
    height: 100px;
    width: auto;
  }
  .fil0:hover {
    fill: #51a548;
  }
  .contact_main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 100px;
        margin-bottom: 50px;
        
    
  }
  .contact_flex_column {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    
    

  }
.contact_contact {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: #df644e;
  text-align: center;
  margin: 20px 0px;
}
.contact_info_card_flex_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
.contact_card_flex_column {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - 10px);
  height: 400px;
  background-color: #df644e;
  justify-content: space-around;
  font-size: 20px;
  font-family: SegoeUI-SemiBold, Tahoma, Geneva, Verdana, sans-serif;

}
.contact_card_flex_column:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.contact_card_flex_column div {
  text-align: center;
  padding: 10px 5px;
  font-family: SegoeUI-Light, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  width: auto;
  height: auto;
}
.img_svg {
  margin: 50px 5px;
  height: 500px;
  width: auto;
}
.contact_size {
  font-size: 20px;
  font-family: SegoeUI-SemiBold, Tahoma, Geneva, Verdana, sans-serif;

}
@media (max-width: 600px) {
  .prev, .next {
      padding: 5px;
      font-size: 14px;
  }
  .description_info {
    font-size: 20px;
  }
  .buy-card_and {
    margin-top: 1px;
  }
  .first-word {
    font-size: 15px;
  }
  .rest-text {
    font-size: 15px;
  }
  .contact_card_flex_column {
    width: 100%;
    margin-top: 10px;

  }
  .contact_info_card_flex_row {
    gap: 0px;
    margin: 0
  }
  .contact_main {
    padding: 0 100px;
  }

}

  @media screen and  (max-width: 900px)
    { 
      .card {
        width: calc(100% / 2 - 1.5px);
      }
      .logo {
        width: 200px;
      }
      .number {
        font-size: 20px;
      }
      .icon-phone {
        height: 20px;
        top: 3px;
      }
      .info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        order: 2;
        width: 100%;
      }
      .info div {
        align-items: center ;
        }
      .bottom-content {
        gap: 15px 0;
      }
      
      .menu img {
        height: 20px;
      }
      .input-search {
        width: 150px;
        height: 20px;
      }
      .flex p {
        font-size: 25px;
      }
      .description_info {
        font-size: 20px;
      }
      .buy-card_and {
        margin-top: 1px;
      }
      .contact_size {
        font-size: 15px;
      }
    }  
    @media screen and  (max-width: 480px)
    { 
      .card {
        width: 100%;
      }
      .logo {
        width: 100px;
      }
      .number {
        font-size: 15px;
      }
      .icon-phone {
        height: 15px;
        top: 2px;
        margin-right: 2px;
      }
      .search img {
        margin-right: 10px;
    }
      .menu img {
        width: auto;
        height: 20px;
        
      }
      .input-search {
        width: 100px;
        height: 20px;
        border-radius: 25px;
        border: none;
        padding: 0 15px ;
      }
      .user-menu img {
        margin-left: 5px;
      }
      .visit-card img {
        height: 15px;
        width: auto;
      }
      .info div span {
        font-size: 13px;
      }
      .info div {
        align-items: flex-start;
      }
      main {
        flex-direction: column;
      }
      .flex-div {
        order: 1;
      }
      .flex-column {
        width: auto;
      }
      .flex {
        justify-content: space-around;
      }
      .volume {
        margin: 20px;
      }
      select {
        margin-right: 0;
        margin: 5px;
      }
      .contact_main {
        padding: 0 40px;
      }
      .buy-card_and {
        margin-right: 0;
      }
    }  

    
    
    
  


  



 